@import url("../../style.css");

.inbox {
  height: 100%;
  overflow-x: hidden;
  animation: 0.1s fadeIn ease-in-out forwards;
  -webkit-user-select: text;
  user-select: none;
}

.icon-btn {
  font-family: var(--icofont);
  font-size: inherit;
  width: 2em;
  aspect-ratio: 1/1;
  background-color: transparent;
  color: grey;
  border: 1px solid grey;
  border-radius: 50%;
  transition: 0.3s color ease-in-out, 0.5s transform ease-in-out;
  &::after {
    position: absolute;
    font-family: var(--default-font);
    background-color: black;
    border: 1px solid;
    font-size: 0.5rem;
    width: max-content;
    padding: 0 0.4em;
    border-radius: 0.5em;
    top: 0;
    transform: translateY(-100%);
  }
  &:hover::after {
    transform: translateY(-120%);
  }
}

.inbox-list-body button.icon-btn {
  &:hover {
    border: 1px solid;
    color: white;
  }

  &.edit {
    position-anchor: --edit;
    position: relative;
    grid-column: 3;
    grid-row: 1 / span3;
  }

  &.delete {
    anchor-name: --delete;
    position: relative;
    grid-column: 4;
    grid-row: 1 / span3;
  }

  &.view {
    anchor-name: --view;
    position: relative;
    grid-column: 5;
    grid-row: 1 / span3;
  }

  /* Edit tooltip */
  &.edit:hover::after {
    position-area: bottom right;
    content: "Edit";
  }

  /* Delete tooltip */
  &.delete:hover::after {
    position-anchor: --delete;
    position-area: bottom right;
    content: "Delete";
  }

  /* View tooltip */
  &.view:hover::after {
    position-anchor: --view;
    position-area: bottom right;
    content: "Details";
  }
}

.inbox-list-body-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1em;
}

.inbox-list-body-wrapper > .common.special {
  position: fixed;
  right: 2em;
  bottom: 2em;
  background-color: canvas;
  border-radius: 0.5em;
  border: 1px solid var(--accent-color);
  color: white;
  font-size: 1rem;
  width: 8rem;
  transition: 0.3s color ease-in-out, 0.3s font-weight ease-in-out;
  & > .icon {
    font-family: var(--iconfont-filled);
    margin-right: 0.5em;
    color: var(--accent-color);
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s color ease-in-out;
  }

  &:hover {
    color: var(--accent-color);
    border: 1px solid white;
  }
}

.inbox-list-body {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, max-content)
  ); /* 👈 fixed min width */
  gap: 1em;
  padding: 1em 0;
  border-bottom: 1px solid grey;
  transition: grid-template-columns 1s ease-in-out,
  gap 0.3s ease-in-out;
}

.inbox-list-body > li {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: max-content;
  list-style: none;
  padding: 1em;
  gap: 0 1em;
  border-radius: 0.5em;
  border: 1px solid grey;
  cursor: default;
  background-color: transparent;
  transition: 0.5s border-color ease-in-out, 
  0.1s box-shadow ease-in-out,
  0.1s background-color ease-in-out, 
  0.2s color ease-in-out,
  grid-template-columns 0.5s ease-in-out,
  gap 0.3s ease;

  & > * {
    align-self: center;
  }
  & > input {
    grid-column: 1;
    grid-row: 1 / span3;
  }
  & > h3 {
    grid-column: 2;
    width: auto;
    transition: 0.5s color ease-in-out;
  }

  & > h3:hover {
  cursor: pointer;
  -webkit-user-select: text;
  user-select: text;

  color: var(--accent-color);
  text-decoration: underline;
  }

  & > p {
    grid-column: 2;
    font-size: 0.8rem;
  }  
  &:hover,
  &.checked {
    border-color: var(--accent-color);
    box-shadow: 0em 0em 5px -2px var(--accent-color);
  }
}

.inbox-list-body > li > input[type="checkbox"] {
  width: 1.5em;
  height: 1.5em;
  accent-color: var(--accent-color);
}

.inbox-empty-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
  width: inherit;
  text-align: center;
  justify-content: center;
  align-items: center;
  > * {
    width: 300px;
    font-size: 1rem;
  }
  > img {
    width: 150px;
  }
  > button {
    width: max-content;
  }
}

dialog[open] {
  color-scheme: light;
  border: none;
  justify-self: center;
  align-self: center;
  height: max-content;
  padding: 1em;
  border: none;
  border-radius: 1em;
  background-color: whitesmoke;
  box-shadow: 0 0 10px -5px whitesmoke;
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
  animation: 0.2s fadeIn ease-in-out forwards;
}
dialog[open] > fieldset {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  gap: 1em;
}

dialog[open] > .btn-container {
  display: flex;
  height: max-content;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  
  gap: 0.5em;

  > button {
    border: 1px solid;
    border-radius: 0.5em;
  }
  > button > .icon {
    display: none;
  }
  > button.save {
    border: 1px solid var(--accent-color);
  }
  > button.cancel {
    flex-direction: row-reverse;
  }
  > button.update:hover{
    border: 1px solid green;
    color: green;
  }
  
}

dialog[open] > fieldset {
  legend {
    text-align: center;
    font-weight: bold;
    color: grey;
  }
  textarea {
    resize: none;
    width: 100%;
    height: 100%;
    min-height: max-content;
    box-sizing: border-box;
    overflow-y: hidden;
  }
  .title,
  textarea {
    font-family: var(--default-font);
    font-size: 1rem;
    border: none;
    background: none;
  }
  .title {
    border-bottom: 1px solid grey;
  }
  .title:focus,
  textarea:focus {
    outline: none;
  }
}