@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bgc: black;
  --font-color: canvas;
  --icofont: "Material Symbols Outlined";
  --iconfont-filled: "Material Icons";
  --default-font: "system-ui";
  color-scheme: dark;
  --accent-color: orangered;
  --accent-color-background: rgba(255, 68, 0, 0.1);
  --active-color-background: rgba(0, 0, 0, 0.05);
}

body {
  border: 1px solid;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
  font-family: var(--default-font);
}

nav {
  height: 100%;
  color: canvas;
  background-color: whitesmoke;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: max-content max-content max-content 1fr;
  gap: 1.5em;

  /* disable select text */
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For IE 10 and 11 */
}

nav .navigation,
nav .projects,
nav .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.5em;
  gap: 0.1em;

  div {
    padding: 0.5em;
    border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
    position: relative;
    & > * {
      display: flex;
      align-items: center;
      gap: 0.5em;
      width: 100%;
    }
    &::before {
      content: "";
      position: absolute;
      background-color: var(--accent-color-background);
      top: 0;
      left: 0;
      height: 100%;
      width: 0.3em;
      border-top-left-radius: 0.25em;
      border-bottom-left-radius: 0.25em;
      transform: scaleX(0);
      transform-origin: left;
      transition: 0.3s transform ease-in-out;
    }
  }

  div:hover {
    background-color: var(--active-color-background);
  }
  div:has(> button.active) {
    background-color: var(--accent-color-background);
  }
  div:hover,
  :has(> button.active) {
    transform: translateX(0.5em);
    margin-right: 0.5em;
    transition: 0.3s transform ease-in-out, 0.3s margin-right ease-in-out;
    &::before {
      transform: scaleX(1);
    }
  }
  button {
    border: none;
    background-color: transparent;
  }

  button > .icon {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: var(--icofont);
    color: grey;
  }
  button > text {
    color: rgba(0, 0, 0, 0.5);
  }

  button.active > .icon {
    font-size: 1.5rem;
    font-weight: 100;
    font-family: var(--iconfont-filled);
    color: grey;
  }
  button.active > .icon,
  button.active > text {
    color: var(--accent-color);
  }

  button.active > text {
    font-weight: bold;
  }
}

nav > .profile {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 2fr;
  padding: 0.5em 0.5em;
  justify-content: center;
  align-items: center;

  > [alt="dp"] {
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  > .username {
    font-weight: bold;
  }
  > .icon {
    cursor: default;
    font-family: var(--iconfont-filled);
    width: fit-content;
    justify-self: flex-end;
    font-size: 1.2rem;
    margin-right: 1em;
    color: grey;
    text-align: right;
    padding: 0.3rem;
    border-radius: 0.2rem;
    transition: 0.2s color ease-in-out, 0.3s background-color ease-in-out;
  }
  > .icon.active {
    font-family: var(--iconfont-filled);
    color: var(--accent-color);
    background-color: var(--accent-color-background);
  }
}

nav > .projects {
  & > .title {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.63);
  }
}

nav > .footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.content {
  border: 1px solid;
}
